body {
  background-image: url(https://i.pinimg.com/originals/46/58/6f/46586f65f6e4502a4748ba6c7934fae3.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.centrar {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 60px;
  margin-top: 75px;
}

.contenedor {
text-align: center;
margin: 150px;
font-family: 'Playball', cursive;
font-size: 25px;
margin-top: 15px;
}
